html {
    font-size: 20px;
    --primary: #FFE7BD;
    --secondary: #0B0835;
    --tertiary: #D72D51;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: var(--secondary);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
    font-family: 'Inter Tight', sans-serif;
}

.gameplay {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.big-title {
    top: 0;
    text-align: center;
    font-family: "Bitcount Single", system-ui;
    font-size: 4rem;
    font-weight: 500;
    color: var(--tertiary);
}

input {
    outline: none;
    border: none;
    background: none;
    /* border-radius: 10px; */
    padding: 10px;
    text-align: center;
    background: rgb(255, 255, 255, 0.2);
    width: 500px;
    font-size: 1.5rem;
    font-family: 'Inter Tight', sans-serif;
    color: var(--primary);
}

.timer {
    position: absolute;
    right: 30px;
    top: 30px;
    font-family: "Bitcount Single", system-ui;
    font-size: 4rem;
    font-weight: 450;
}

.prompt {
    font-size: 2rem;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 800;
}

select {
    outline: none;
    border: none;
    background: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background: none;
    width: 500px;
    font-size: 1rem;
    font-family: 'Inter Tight', sans-serif;
    position: absolute;
    left: 100px;
    top: 30px;
    background-color: var(--secondary);
    color: var(--primary);
}

option {
    border: none;
    outline: none;
}

.difficulty {
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: "Bitcount Single", system-ui;
    font-weight: 450;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--tertiary);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--tertiary);
    cursor: pointer;
}

.play-button {
    border: none;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--tertiary);
    color: var(--secondary);
    font-family: "Bitcount Single", system-ui;
    font-weight: 600;
    font-size: 2em;
    cursor: pointer;
    transition: all 0.3s;
}

.play-button:hover {
    transform: scale(1.1);
    filter: contrast(0.7);
}