html {
    font-size: 20px;
    --primary: #FFE7BD;
    --secondary: #0B0835;
    --tertiary: #D72D51;
    --font1: "Bitcount Single", system-ui;
    --font2: "Inter Tight", sans-serif;
    --radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
  color: var(--secondary);
  background: var(--primary);
}

::selection {
  color: var(--secondary);
  background: var(--primary);
}

body {
    position: relative;
    background-color: var(--secondary);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
    font-family: var(--font1);
    overflow: hidden;
}

header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid rgba(125, 125, 125, 0.3);
    padding: 30px 10% 30px 5%;
    font-weight: 500;
}

.gameplay {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    animation: floating 3s infinite ease-in-out;
    padding-top: 150px;
}

@keyframes floating {
    0% {
        
    }

    50% {
        transform: translateY(10px);
    }

    100% {

    }
}

.big-title {
    top: 0;
    text-align: center;
    font-family: var(--font1);
    font-size: 6rem;
    font-weight: 500;
    color: var(--tertiary);
    
}

#textInput {
    outline: none;
    border: none;
    background: none;
    padding: 10px;
    text-align: center;
    width: 80%;
    font-size: 1.5rem;
    font-family: var(--font1);
    color: var(--primary);
    text-transform: uppercase;
    transition: color 0.2s;
    white-space: nowrap;
    overflow: hidden;
    display: inline;
    position: fixed;
    bottom: 30px;
    opacity: 0.3;
}

.displayText {
    outline: none;
    border: none;
    background: none;
    padding: 10px;
    text-align: center;
    width: 80%;
    font-size: 1.5rem;
    font-family: var(--font1);
    color: var(--primary);
    text-transform: uppercase;
    transition: color 0.2s;
    white-space: nowrap;
    overflow: hidden;
    display: inline;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.displayText span {
    color: rgb(244, 210, 20);
    text-shadow: rgb(255, 225, 0) 0px 0px 20px;
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px);
    }

    10% {
        transform: translate(2px, 1px);
    }

    20% {
        transform: translate(1px, 3px);
    }

    30% {
        transform: translate(-3px, 1px);
    }

    40% {
        transform: translate(4px, -4px);
    }

    50% {
        transform: translate(2px, 3px);
    }

    60% {
        transform: translate(5px, -3px);
    }

    70% {
        transform: translate(1px, 3px);
    }

    80% {
        transform: translate(1px, 2px);
    }

    90% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.timer {
    font-family: var(--font1);
    font-size: 4rem;
    font-weight: 450;
    margin-bottom: -1rem;
    transition: all 0.5s;
}

.prompt {
    font-size: 2rem;
    font-family: var(--font1);
    font-weight: 500;
    position: relative;
    z-index: 1;
}

.prompt-container {
    position: relative;
}

.fire {
    position: absolute;
    display: none;
    width: 56px;
    top: -30px;
    right: -30px;
    image-rendering: pixelated;
    filter: drop-shadow(0px 0px 30px rgb(255, 204, 0)) drop-shadow(0px 0px 15px rgb(255, 136, 0));
    z-index: 2;
}

.dictionaries {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.5s;
}

select {
    appearance: none;
    outline: none;
    border: none;
    padding: 10px;
    text-align: center;
    background: none;
    width: calc-size(min-content, size + 100px); 
    height: 50px;
    font-size: 1rem;
    font-family: var(--font1);
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: var(--radius);
    cursor: pointer;
    transition: all 0.5s;
}

option {
    border: none;
    outline: none;
}

.difficulty {
    font-family: var(--font1);
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.5s;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 50px;
    padding: 15px;
    background: var(--primary);
    outline: none;
    opacity: 1;
    transition: all 0.5s;
    border-radius: var(--radius);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--tertiary);
    cursor: pointer;
    border-radius: var(--radius);
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--tertiary);
    cursor: pointer;
    border-radius: var(--radius);
}

.play-button {
    border: none;
    padding: 20px;
    background-color: var(--tertiary);
    color: var(--secondary);
    font-family: var(--font1);
    font-weight: 600;
    font-size: 2em;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: var(--radius);
}

.play-button:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 20px var(--tertiary))
}

.coins {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.5s;
}

.coin-icon {
    width: 32px;
    margin-top: -3px;
    transition: all 1s cubic-bezier(.06,.78,.41,.98);
    user-select: none;
}

.coin {
    width: 32px;
    height: 32px;
    position: absolute;
    transition: all 2s ease-out;
    opacity: 0;
    animation: coin 2s;
}

.coin img {
    width: 100%;
    position: absolute;
    filter: drop-shadow(0px 0px 30px rgba(255, 215, 0, 1));
}

@keyframes coin {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.stats {
    margin-top: 50px;
    padding: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.settings-button {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.settings-button:hover {
    transform: scale(1.1) rotate(180deg);
}

.settings-button img {
    width: 100%;
    left: 0.5px;
}

.settings {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary);
    position: fixed;
    display: none;
    z-index: 99;
    color: var(--secondary);
    transition: all 0.5s cubic-bezier(.12,.73,.33,.99);
    transform: translateY(-100vh);
    padding: 200px 5% 5% 5%;
}

.volume {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px
}

.volume-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 50px;
    padding: 15px;
    background: var(--secondary);
    outline: none;
    opacity: 1;
    transition: all 0.5s;
    border-radius: var(--radius);
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--tertiary);
    cursor: pointer;
    border-radius: var(--radius);
}

.volume-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--tertiary);
    cursor: pointer;
    border-radius: var(--radius);
}