html {
    font-size: 20px;
    --primary: #FFE7BD;
    --secondary: #0B0835;
    --tertiary: #D72D51;
    --font1: "Bitcount Single", system-ui;
    --font2: "Inter Tight", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
  color: var(--secondary);
  background: var(--primary);
}

::selection {
  color: var(--secondary);
  background: var(--primary);
}

body {
    position: relative;
    background-color: var(--secondary);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
    font-family: var(--font1);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid rgba(125, 125, 125, 0.3);
    padding: 30px;
    font-weight: 500;
}

.gameplay {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    animation: floating 3s infinite ease-in-out;
}

@keyframes floating {
    0% {
        
    }

    50% {
        transform: translateY(10px);
    }

    100% {

    }
}

.big-title {
    top: 0;
    text-align: center;
    font-family: var(--font1);
    font-size: 6rem;
    font-weight: 500;
    color: var(--tertiary);
    
}

#textInput {
    outline: none;
    border: none;
    background: none;
    padding: 10px;
    text-align: center;
    width: 80%;
    font-size: 1.5rem;
    font-family: var(--font1);
    color: var(--primary);
    text-transform: uppercase;
    transition: color 0.2s;
    white-space: nowrap;
    overflow: hidden;
    display: inline;
    position: fixed;
    bottom: 30px;
    opacity: 0.3;
}

.displayText {
    outline: none;
    border: none;
    background: none;
    padding: 10px;
    text-align: center;
    width: 80%;
    font-size: 1.5rem;
    font-family: var(--font1);
    color: var(--primary);
    text-transform: uppercase;
    transition: color 0.2s;
    white-space: nowrap;
    overflow: hidden;
    display: inline;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.displayText span {
    color: rgb(153, 205, 50);
    text-shadow: lime 0px 0px 20px;
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px);
    }

    10% {
        transform: translate(2px, 1px);
    }

    20% {
        transform: translate(1px, 3px);
    }

    30% {
        transform: translate(-3px, 1px);
    }

    40% {
        transform: translate(4px, -4px);
    }

    50% {
        transform: translate(2px, 3px);
    }

    60% {
        transform: translate(5px, -3px);
    }

    70% {
        transform: translate(1px, 3px);
    }

    80% {
        transform: translate(1px, 2px);
    }

    90% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.timer {
    font-family: var(--font1);
    font-size: 4rem;
    font-weight: 450;
    margin-bottom: -1rem;
}

.prompt {
    font-size: 2rem;
    font-family: var(--font1);
    font-weight: 500;
}

.dictionaries {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

select {
    outline: none;
    border: none;
    background: none;
    /* border-radius: 10px; */
    padding: 10px;
    text-align: center;
    background: none;
    width: calc-size(min-content, size + 100px); 
    height: 50px;
    font-size: 1rem;
    font-family: var(--font1);
    background-color: var(--primary);
    color: var(--secondary);
}

option {
    border: none;
    outline: none;
}

.difficulty {
    font-family: var(--font1);
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 50px;
    padding: 15px;
    background: var(--primary);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--tertiary);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--tertiary);
    cursor: pointer;
}

.play-button {
    border: none;
    /* border-radius: 20px; */
    padding: 20px;
    background-color: var(--tertiary);
    color: var(--secondary);
    font-family: var(--font1);
    font-weight: 600;
    font-size: 2em;
    cursor: pointer;
    transition: all 0.3s;
}

.play-button:hover {
    transform: scale(1.1);
    filter: contrast(0.7);
}

.coin {
    width: 32px;
    height: 32px;
    position: absolute;
    transition: all 2s ease-out;
    animation: coin 0.5s 1.5s;
}

.coin img {
    width: 100%;
    position: absolute;
    z-index: 1;
}

@keyframes coin {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}